
  <li class='list-group-item' id="<%= comment.id%>">
    <i class='fa fa-quote-left'></i> <%=comment%> <i class='fa fa-quote-right'></i>
    --<a href='/users/<%=comment.user_id%>'><%=comment.user.username%></a>
  </li>
