<form method='post' action='/comments/<%=photo.id%>' id='comment'>
  <div class='form-group'>
    <input type='text' class='form-control' name='comment' placeholder='What makes this so heartable?'>
  </div>
  <input type='submit' value='add comment'>
</form>