html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body {
  height: 100%;
}
.half {
  width: 50%;
}

.right {
  float: right;
}


.divider-vertical {
    height: 40px;                  
    border-left: 1px solid gray;     
    float: left;                     
    opacity: 0.5;                   
    margin: 5px 15px;                 
}

/* PHOTO GRID */
@media screen and (min-width: 1px) and (max-width: 480px){
  #columns[data-columns]::before {
    content: '1 .col-xs-12';
  }
}
@media screen and (min-width: 1px) and (max-width: 767px){
  #columns[data-columns]::before {
      content: '2 .col-xs-6';
  }
}
@media screen and (min-width:768px) and (max-width: 991px){
  #columns[data-columns]::before {
      content: '3 .col-sm-4';
  }
}
@media screen and (min-width:992px) and (max-width: 9999px){
  #columns[data-columns]::before {
      content: '4 .col-md-3';
  }
}

.panel-primary {
  object-fit: scale-down;
}

.panel-footer {
  padding: 5px 10px;
}

/* HEARTS */
input.heartbutton {
  background-image: url('http://clipartist.net/Holidays/Valentines_Day/Valentines_Day/heart_icon_red_hollow_valentine-999px.png');
  vertical-align: top;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

input.unheartbutton {
  background-image: url('http://www.clipartbest.com/cliparts/KTj/e6M/KTje6M47c.png');
  vertical-align: top;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

.heart-buttons {
  text-align: right;
}

.icon {
  background: none;
  border: none;
}

/* SINGLE PHOTO */


.panel-primary.single {
  display: inline-block;
}

img {
  max-height: 550px;
  max-width: 550px;
}


/* Lightbox */
#lightbox-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);
  text-align: center;
  z-index: +1;
}

#lightbox-background .panel {
  margin-top: 50px;
}

.panel.panel-primary.photo.single {
  z-index: +1;
}

