html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

.half {
  width: 50%;
}

.right {
  float: right;
}



/* PHOTO GRID */
@media screen and (min-width: 1px) and (max-width: 480px){
  #columns[data-columns]::before {
    content: '1 .col-xs-12';
  }
}
@media screen and (min-width: 1px) and (max-width: 767px){
  #columns[data-columns]::before {
      content: '2 .col-xs-6';
  }
}
@media screen and (min-width:768px) and (max-width: 991px){
  #columns[data-columns]::before {
      content: '3 .col-sm-4';
  }
}
@media screen and (min-width:992px) and (max-width: 9999px){
  #columns[data-columns]::before {
      content: '4 .col-md-3';
  }
}

.panel-primary {
  object-fit: scale-down;
}



/* HEARTS */
input.heartbutton {
  background-image: url('http://clipartist.net/Holidays/Valentines_Day/Valentines_Day/heart_icon_red_hollow_valentine-999px.png');
  vertical-align: top;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

input.unheartbutton {
  background-image: url('http://www.clipartbest.com/cliparts/KTj/e6M/KTje6M47c.png');
  vertical-align: top;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}



/* SINGLE PHOTO */


.panel-primary.single {
  display: inline-block;
}







