html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}


#navbar li{
  float: right;
  list-style-type: none;
}

#navbar a {
  display: block;
  width: 100px;
  text-align: center;
  z-index: 9000;
}

.hidden {
  display: none;
}

/* PHOTO GRID */

.photo-grid img {
  max-width: 300px;
  max-height: 300px;
}

.grid-sizer,
.grid-item {
  width: 20%;
}

.grid-item {
  float: left;
}


/* HEARTS */
input.heartbutton {
  background-image: url('http://clipartist.net/Holidays/Valentines_Day/Valentines_Day/heart_icon_red_hollow_valentine-999px.png');
  vertical-align: top;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

input.unheartbutton {
  background-image: url('http://www.clipartbest.com/cliparts/KTj/e6M/KTje6M47c.png');
  vertical-align: top;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}


















