<form method='post' action='/hearts' id='unheart' <%if !(@photo.hearts.find_by(user_id: current_user.id))%>class="hidden"<%end%>>
  <input type='hidden' name='_method' value='delete'>
  <input type='hidden' name='user_id' value='<%=current_user.id%>'>
  <input type='hidden' name='photo_id' value='<%=@photo.id%>'>
  <button type='submit' ><span class="fa fa-heart-o fa-3x" style='color: red;'></span></button>

</form>