

<div id="columns" data-columns=''>
  <% @photos.each do |photo| %>
    <div class='panel panel-primary'>
      <div class='panel-body'><a href = '/photos/<%=photo.id%>'><img src='<%= photo.url%>' class='img-responsive' /></a></div>
      <div class='panel-heading'>

      </div>
    </div>
  <%end%>
</div>
