<% if @errors %>
  <%= @errors[0] %>
<% end %>


<form method='post' action='/photos' class='col-md-6 col-md-offset-3'>
  <div class='form-group'>
    <label for='url'>photo url</label>
    <div class='embedded_button_field'>
      <input name='url' type='text' class='form-control embedded_button_field'>
      <input type='submit' value='Add photo' class='btn btn-default embedded_button'>
    </div>
  </div>
</form>
