<div class="container">
  <h1>Welcome to PUPPIES!</h1>

</div>

<% if is_authenticated? %>
  <a href='/users/logout'>Log Out</a>
<% else %>
  <a href='/users/new'>Sign Up</a>
  <a href='/users/login'>Log In</a>
<% end %>